version: '3.8'

services:
  lectures:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./data:/data
      - ./configuration.yaml:/data/configuration.yaml
    environment:
      - SERVER_HOST=0.0.0.0
      - SERVER_PORT=3000
