# Binaries
lectures
*.exe
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~

/dist

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test artifacts
internal/api/test_input/
internal/api/test_integration_pipeline/
internal/api/publish_material_test
internal/api/web